<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.javadbtest.mapper.UserMapper">
    <select id="selectAll" resultType="com.example.javadbtest.entity.User">
       SELECT id, user_name, detail FROM user
    </select>
    <insert id="insertUser">
        INSERT INTO user (user_name, detail)
        VALUES (#{userName}, #{detail})
    </insert>
</mapper>