<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>入力画面</title>
</head>

<body>
    <h1>入力画面</h1>
    <form th:action="@{/docker-result}" th:object="${userDto}" method="post">
        <!--エラー表示-->
        <p th:errors="*{all}"></p>

        <table>
            <tr>
                <td>名前</td>
                <td><input type="text" th:field="*{userName}"></td>
            </tr>
            <tr>
                <td>説明</td>
                <td><input type="text" th:field="*{detail}"></td>
            </tr>
        </table>
        <input type="submit" value="送信" />
    </form>
</body>

</html>